$max-page-width: 1440px;
$header-height: 88px;
$default-input-height: 50px;
$default-input-padding: 16px;

$font-weight: (
  thin: 100,
  extra-light: 200,
  ultra-light: 200,
  light: 300,
  normal: 400,
  book: 400,
  regular: 400,
  medium: 500,
  semi-bold: 600,
  demi-bold: 600,
  bold: 700,
  extra-bold: 800,
  ultra-bold: 900,
  heavy: 900,
  black: 900,
  ultra: 900,
  ultra-black: 900,
  extra-ultra: 900
);

$breakpoints: (
  xxxs: 375,
  xxs: 450,
  xs: 600,
  sm: 768,
  md: 1024,
  lg: 1280,
  xl: 1904
);

$spacers: (
  xxs: (
    md: 16px,
    lg: 24px
  ),
  xl: (
    xxs: 4px,
    xs: 8px,
    sm: 16px,
    md: 24px,
    lg: 32px,
    xl: 64px,
    xxl: 80px,
    xxxl: 128px
  )
);

$container-spacing: (
  sm: 16px,
  md: 32px,
  lg: 90px,
  xl: 120px
);

$sizes: xs, sm, md, lg, xl, xxl, xxxl, xxxxl, xxxxxl;

$font-base-size: 10px;

$min-font-size: 9px;

$type-scale: (
  xxs: (
    subtitle: 1.6,
    caption: 1,
    body-small: 1.1,
    body-medium: 1.2,
    body-large: 1.4,
    heading-3: 1.3,
    heading-2: 1.3,
    heading-1: 1.7,
    heading-0: 1.8,
    pica-0: 1.7,
    pica-1: 2.2,
    title-1: 2,
    title-2: 1.7,
    title-3: 1.3,
    title-4: 2.4,
    atomic: 1.5,
    atomic-1: 1.4,
    tiny: 1.5,
    micro: 1.1,
    micro-1: 1.4,
    micro-2: 1.3,
    large: 2,
    large-1: 1.6,
    jumbo: 2.8,
    impact: 2.8
  ),
  xs: 6px,
  sm: 7px,
  md: 8px,
  lg: 9px,
  xl: (
    subtitle: 1.6,
    caption: 1,
    body-small: 1.2,
    body-medium: 1.4,
    body-large: 1.8,
    heading-3: 1.6,
    heading-2: 1.8,
    heading-1: 2.2,
    heading-0: 2.4,
    pica-0: 2.8,
    pica-1: 3.2,
    title-1: 4,
    title-2: 3.2,
    title-3: 2,
    title-4: 3,
    large: 2,
    large-1: 2,
    micro: 1.4,
    micro-1: 1.4,
    micro-2: 1.2,
    atomic: 1.6,
    atomic-1: 1.4,
    atomic-2: 0.9,
    tiny: 1.5,
    tiny-1: 1.3,
    huge: 3.8,
    jumbo: 4.5,
    impact: 5
  )
);

$white-spaces: normal, nowrap, pre, pre-line, pre-wrap, initial, inherit;

$word-break: normal, break-all, keep-all, break-word, initial, inherit;

$alignments: left, center, right;

$z-layers: (
  max: 9999999,
  menu: 600,
  overlay: 200,
  fullscreen: 170,
  modal: 160,
  header: 100,
  footer: 90,
  banner: 20,
  logo: 11,
  content: 10,
  shape: 5,
  base: 1
);

$banner-height: 560px;
